<header>
  <h1>ryoh827.com</h1>
</header>

<section>
  <nav class="nav">
    <a href="https://scrapbox.io/ryoh827-public/">Scrapbox</a>
    <a href="https://github.com/ryoh827">GitHub</a>
    <a href="https://x.com/ryoh827">X</a>
  </nav>
</section>

<section>
  <div class="counter">
    <a href="https://count.getloli.com/"><img src="https://count.getloli.com/@ryoh827?name=ryoh827&theme=original-new&padding=7&offset=0&align=center&scale=1&pixelated=1&darkmode=auto"></a>
  </div>
</section>

