<header>
  <h1>ryoh827.com</h1>
</header>

<section>
  <nav class="nav">
    <a href="https://scrapbox.io/ryoh827-public/">Scrapbox</a>
    <a href="https://github.com/ryoh827">GitHub</a>
    <a href="https://x.com/ryoh827">X</a>
  </nav>
</section>

<section>
  <div class="counter">
    <a href="https://count.chiya.dev/"><img src="https://count.chiya.dev/get/@ryoh827?theme=gelbooru"></a>
  </div>
</section>

